<%= form_for(@ca) do |f| %>
  <% if @ca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ca.errors.count, "error") %> prohibited this ca from being saved:</h2>

      <ul>
      <% @ca.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :criteria %><br />
    <%= f.text_field :criteria %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br />
    <%= f.text_field :story_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
