<p id="notice"><%= notice %></p>

<p>
  <b>Criteria:</b>
  <%= @ca.criteria %>
</p>

<p>
  <b>Story:</b>
  <%= @ca.story_id %>
</p>


<%= link_to 'Edit', edit_ca_path(@ca) %> |
<%= link_to 'Back', cas_path %>
