<h1>Liste des users stories</h1>

<table>
  <tr>
    <th>Je suis</th>
    <th>Je veux</th>
    <th>Afin de</th>
    <th>Nb de BDD</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.role %></td>
    <td><%= story.action %></td>
    <td><%= story.confirmation %></td>
    <td><%= story.bdds.count %></td>
    <td><%= link_to 'Afficher', story, :class => "btn_show" %></td>
    <td><%= link_to 'Editer', edit_story_path(story) %></td>
    <td><%= link_to 'Supprimer', story, method: :delete, data: { confirm: 'Etes vous sur ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Story', new_story_path %>

<div id="new_story">
	
</div>