<p id="notice"><%= notice %></p>

<p>
  <b>Je suis:</b>
  <%= @story.role %>
</p>

<p>
  <b>Je veux:</b>
  <%= @story.action %>
</p>

<p>
  <b>Afin de:</b>
  <%= @story.confirmation %>
</p>


<% @story.cas.each do |ca| %>
<br>
<p>
  <b>Critères d'acceptation:</b>
  <%= ca.criteria %>
</p>

<% end %>

<br>

  <% @story.bdds.each do |bdd| %>
<p>
  <b>Etant donné que:</b>
  <%= bdd.given %>
</p>

<p>
  <b>Lorsque:</b>
  <%= bdd.when %>
</p>

<p>
  <b>Alors:</b>
  <%= bdd.then %>
</p>
<br>
  <% end %>


<%= link_to 'Editer', edit_story_path(@story) %> |
<%= link_to 'Retour', stories_path %>
